<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <style type=text/css>
      form{
         display: inline-block;
      }
      
      .won, .lost{
			padding: 0px;
			margin: 0px;
			display: block;
      }
      
      .won{
        color: green
      }

      .lost{
        color: red; 
      }

     
      </style>
    
</head>
<body>
        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h2><class="display-1">Your Gold</h2>
                  <h3>{{x}}</h3>
                  <h1><class="display-4">Get your money</h1>
                  <p class="lead"></p>
                        <form action="/process_money" method="post">
                            <input type="hidden" name="building" value="farm" />
                            <input type="submit" value="Farm"/>
                          </form>
                          <form action="/process_money" method="post">
                            <input type="hidden" name="building" value="cave" />
                            <input type="submit" value="Cave"/>
                          </form>
                          <form action="/process_money" method="post">
                            <input type="hidden" name="building" value="house" />
                            <input type="submit" value="House"/>
                          </form>
                          <form action="/process_money" method="post">
                            <input type="hidden" name="building" value="casino" />
                            <input type="submit" value="Casino"/>
                          </form>  
                          <a href="/reset" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true">Reset</a>                        
                        </form>
                    <br>
                    <label for="Activity">Activity:</label>
                    <textarea class="form-control" rows="5" id="activity"></textarea>
                    </div>
                </div>
              </div>
    </body>
</html>
