<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'survey_form/css/style.css' %}">

</head>
<body>
    <div class="container">
        <form action="/submit" class="submission" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="name">Your Name:</label>
              <input type="text" name="name"class="form-control">
            </div>
            <div class="form-group">
                <label for="sel1"> Dojo Location:</label>
                <select  name="dojo_location" class="form-control">
                    <option value="San Jose">San Jose</option>
                    <option value="Seattle">Seattle</option>
                    <option value="LA">Los Angeles</option>
                    <option value="TC">TC</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Tulsa">Tulsa</option>
                    <option value="East Bay">East Bay</option>
                </select>
            </div>
            <div class="form-group">
                <label for="sel1">Favorite Language:</label>
                <select  name="fav_lang" class="form-control">
                    <option value="Python">Python</option>
                    <option value="C#">C#</option>
                    <option value="Swift">Swift</option>
                    <option value="Mean">Mean</option>
                </select>
            </div>
            <div class="form-group">
                <label for="comment">Comment (optional):</label>
                <textarea class="form-control" rows="5" name="comment"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

</body>
</html>